* {
  margin: 0;
  padding: 0;
}

.nav-container {
  height: 100px;
  box-shadow: 0 0 10px black;
  display: grid;
  grid-template-columns: 35% 45% 20%;
}

#brand h1 {
  font-size: 52px;
  color: tomato;
}

#menus a {
  margin-right: 50px;
  font-size: 18px;
  text-decoration: none;
}

#icons i {
  color: tomato;
  margin-right: 20px;
  font-size: 27px;
}

#icons button {
  border: none;
  padding: 15px 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 25px;
}

.container h1 {
  margin-bottom: 10px;
}
.container p {
  text-align: center;
}
.container {
  width: 1000px;
  height: 500px;

  margin: 20px auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.gridItem1 {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://www.universetextiles.com/wp-content/uploads/2024/09/kids-clothes-sale.jpg");
}
.gridItem2 {
  grid-column: 4/6;
  grid-row: 1/3;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://tse3.mm.bing.net/th/id/OIP.4TVqHfUIkXkA77Ije77K_AHaDt?w=1050&h=526&rs=1&pid=ImgDetMain&o=7&rm=3");
}

.gridItem2 h2,
.gridItem3 h2 {
  font-size: 36px;
  margin: 5px;
}

.gridItem3 {
  grid-column: 4/6;
  grid-row: 3/5;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://tse1.mm.bing.net/th/id/OIP.jrlPYpTBZ2C2sEALJaPwYgHaEo?rs=1&pid=ImgDetMain&o=7&rm=3");
}

.gridCommonStyles {
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.gridCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trending-container {
  height: 300px;
  width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-rows: 15% 85%;
  gap: 13px;
}
.cardContainer {
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 230px;
  height: 100%;
  box-shadow: 0 0 10px black;
  text-align: center;
  padding: 10px;
}
