h1 {
  margin: 0;
  margin-bottom: 10px;
}
p {
  margin: 0;
  text-align: center;
}
.container {
  width: 1000px;
  height: 500px;

  margin: 20px auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.gridItem1 {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6)),
    url("https://www.universetextiles.com/wp-content/uploads/2024/09/kids-clothes-sale.jpg");

  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gridItem2 {
  grid-column: 4/6;
  grid-row: 1/3;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://tse3.mm.bing.net/th/id/OIP.4TVqHfUIkXkA77Ije77K_AHaDt?w=1050&h=526&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: 100% 100%;
  background-position: center;
}
.gridItem3 {
  grid-column: 4/6;
  grid-row: 3/5;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://tse1.mm.bing.net/th/id/OIP.jrlPYpTBZ2C2sEALJaPwYgHaEo?rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: 100% 100%;
  background-position: center;
}
