* {
  margin: 0;
  padding: 0;
}

/* header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
} */

.nav-container {
  height: 100px;
  box-shadow: 0 0 10px black;
  display: grid;
  grid-template-columns: 35% 45% 20%;

  /* position: sticky;
  top: 0px;
  z-index: 5; */
}

#brand h1 {
  font-size: 52px;
  color: tomato;
}

#menus a {
  margin-right: 50px;
  font-size: 18px;
  text-decoration: none;
}

#icons i {
  color: tomato;
  margin-right: 20px;
  font-size: 27px;
}

#icons button {
  border: none;
  padding: 15px 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 25px;
}
.gridCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.bgImage {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)),
    url("https://static.vecteezy.com/system/resources/previews/002/099/443/large_2x/programming-code-coding-or-hacker-background-programming-code-icon-made-with-binary-code-digital-binary-data-and-streaming-digital-code-vector.jpg");
  background-position: center;
  background-size: 100% 100%;
  position: relative;
}
.bgImage h1 {
  color: tomato;
  margin-bottom: 11px;
}
.bgImage h4 {
  margin-bottom: 20px;
  /* font-weight: lighter; */
}
.bgImage p {
  color: rgb(76, 67, 67);
  font-style: italic;
}

.user-details {
  position: relative;
  top: 520px;
  width: 1100px;
  margin: auto;
  text-align: center;
}
#profileImage {
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: 72%;
  border: 4px solid tomato;
  box-shadow: 0 0 10px tomato;
}
.social-icons {
  position: relative;
  top: 520px;
  text-align: center;
  padding: 10px 0px 20px;
}
.social-icons img {
  border-radius: 50%;
}
