body {
  margin: 0;
}
#navbar {
  background-color: black;
  height: 80px;
}
#categories {
  width: 1150px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}
#categories div {
  text-align: center;
  color: green;
}
#categories img {
  border-radius: 50%;
  box-shadow: 0 0 10px green;
}
.card {
  width: 330px;
  height: 400px;
  box-shadow: 0 0 10px black;
  margin: 20px;
  background-color: black;
}

#products {
  display: flex;
}
